//-----------------------------------------------------------------------------
// Global definitions
//-----------------------------------------------------------------------------

:root {
  --designGridColumnCount: 8;
  --designGridRowCount: 8;
  --designGridHeight: 40px;
  --recentColorCellHeight: 40px;
  --gridGap: 5px;
}

random(min, max)
  return floor( math(0, "random") * max + min )

html {
  font-family: Roboto, 'Open Sans', Verdana, sans-serif;
}

a {
  outline: none;
}

.label {
  color: rgb(63,81,181);
  font-size: 14px;
  margin: auto;
}

//-----------------------------------------------------------------------------
// Page Region Definitions
// 
// Each region cooresponds to a part of the CSS grid, which is used to
// to make the page responsive.
//-----------------------------------------------------------------------------

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.design-grid-column-controls {
  grid-column: 2;
  grid-row: 1;
  grid-gap: 5px;
  text-align: center;
  width: 60%;
  margin: 20px auto auto auto;
}

.color-chooser {
  grid-column: 1;
  grid-row: 2;
  grid-gap: 5px;
  border-color: black;
  border-width: 1px;
  align-items: center;
  margin: auto 1px auto auto;
}

.design-grid {
  grid-column: 2;
  grid-row: 2;
  border-color: black;
  border-width: 1px;
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(var(--designGridRowCount), var(--designGridHeight));
  margin: auto;
}

.design-grid-row-controls {
  grid-column: 3;
  grid-row: 2;
  grid-gap: 5px;
  display: flex;
  align-items: center;
  width: 40%;
}

.page-footer{
  grid-column: 1 / 4;
  grid-row: 3;
  border-color: black;
  border-width: 1px;
  text-align: center;
  margin: 20px auto auto auto;
}

//-----------------------------------------------------------------------------
// Individual Page Elements
//-----------------------------------------------------------------------------

// Menu Region Items
.menu-item {
  border-color: black;
  border-width: 1px;
  margin-right: 20px;
}

// Color Chooser Region Items

.color-selector-button {
  border-color: black;
  border-width: 1px;
  height: var(--recentColorCellHeight);
  width: 100%;
  background-color: blue;
  text-align: right;
  margin: auto auto 10px auto;
}

.recent-color-wrapper {
  display: grid;
  grid-template-columns: repeat(5, var(--recentColorCellHeight));
  grid-template-rows: repeat(1, var(--recentColorCellHeight));
  grid-gap: var(--gridGap);
  margin: auto;
  justify-content: center;
}

// Design Grid Controls
.row-controls {
  margin-left: 1px;
  text-align: center;
}

.row-minus {
  margin: 0px auto 0px auto;
}

.row-count {
  margin: 5px auto 5px auto;
  text-align: right;
}

.row-plus {
  margin: 0px auto 0px auto;
}

.column-minus {
  margin: 0px auto 0px 10px;
}

.column-count {
  margin: 10px auto 10px auto;
  text-align: right;
}

.column-plus {
  margin: 0px auto 0px auto;
}

// Design Grid
.design-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(auto, var(--designGridHeight));
}

.design-grid-cell {
  background-color: #DADCE0;
  border: 1px solid #5F6B82;
}

.copyright {
  color: grey;
  display: flex;
  align-items: center;
  margin: auto;
}

.material-icons { 
  color: grey;
}

//-----------------------------------------------------------------------------
// Modal Dialog Elements
//-----------------------------------------------------------------------------

.mdl-dialog {
  width: fit-content;
  min-width: 40%;
}

// About Dialog elements
.about-link {
  color: grey;
  text-decoration: none;
}

.about-dialog-content {
  margin:0;
  padding:0;
}

#about-avatar {
  width: 40%;
  height: 40%;
  margin: 10px auto auto auto;
  display: inline-block;
}

.about-text {
  width: 59%
  display: inline-block;
  vertical-align: middle;
}

// About Dialog elements
.palette-dialog-content {
  margin: 0;
  padding: 0;
  align-items: center;
  margin: auto ;
}

#color-wheel {
  margin: 10px auto auto auto;
  display: inline-block;
  align-items: center;
}

#color-wheel-img {
  display: none;
}

#palette-feedback {
  width: 43%
  display: inline-block;
  vertical-align: middle;
  margin: auto auto auto 10px;
}

#palette-color-code {
  display: inline-block;
  vertical-align: middle;
}

#palette-primary-button {
  border-color: black;
  border-width: 1px;
  height: var(--recentColorCellHeight);
  width: 100%;
  background-color: blue;
  text-align: right;
}

.selected-shade-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 40px);
  grid-gap: 5px;
  margin: 5px 0px 0px 0px;
  justify-content: center;
}
