:root {
  --designGridColumnCount: 8;
  --designGridRowCount: 8;
  --designGridHeight: 40px;
  --recentColorCellHeight: 40px;
  --gridGap: 5px;
}
html {
  font-family: 'Open Sans', Roboto, Verdana, sans-serif;
}
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}
.page-header {
  grid-column: 1/4;
  grid-row: 1;
  grid-gap: 5px;
  text-align: center;
}
.menu {
  grid-column: 1/4;
  grid-row: 2;
  text-align: center;
}
.design-grid-header {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}
.color-chooser-header {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
  padding-bottom: 10px;
}
.design-grid-column-controls {
  grid-column: 2;
  grid-row: 4;
  grid-gap: 5px;
  text-align: center;
}
.color-chooser {
  grid-column: 1;
  grid-row: 5;
  border-color: #000;
  border-width: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.design-grid {
  grid-column: 2;
  grid-row: 5;
  border-color: #000;
  border-width: 1px;
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(var(--designGridRowCount), var(--designGridHeight));
}
.design-grid-row-controls {
  grid-column: 3;
  grid-row: 5;
  grid-gap: 5px;
  display: flex;
  align-items: center;
  width: 45px;
}
.page-footer {
  grid-column: 1/4;
  grid-row: 6;
  border-color: #000;
  border-width: 1px;
  text-align: center;
}
.menu-item {
  border-color: #000;
  border-width: 1px;
}
.color-chooser-header {
  grid-column-start: 1;
  grid-row-start: 4;
  margin: auto;
}
.design-grid-header {
  grid-column-start: 2;
  grid-row-start: 3;
  margin: auto;
}
.color-selector-button {
  border-color: #000;
  border-width: 1px;
  justify-content: center;
  height: var(--recentColorCellHeight);
  width: 220px;
  background-color: #00f;
  text-align: left;
}
.recent-color-wrapper {
  display: grid;
  grid-template-columns: repeat(5, var(--recentColorCellHeight));
  grid-template-rows: repeat(1, var(--recentColorCellHeight));
  grid-gap: var(--gridGap);
  margin: 5px 0px 0px 0px;
  justify-content: center;
}
.recent-color-90 {
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: #e6e6e6;
  border-color: #000;
  border-width: 1px;
}
.recent-color-80 {
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: #ccc;
  border-color: #000;
  border-width: 1px;
}
.recent-color-70 {
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: #b3b3b3;
  border-color: #000;
  border-width: 1px;
}
.recent-color-60 {
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: #999;
  border-color: #000;
  border-width: 1px;
}
.recent-color-50 {
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: #808080;
  border-color: #000;
  border-width: 1px;
}
.row-controls {
  margin-left: 10px;
  text-align: center;
}
.row-minus {
  margin: 20px auto 0px auto;
}
.row-count {
  margin: 5px auto 5px auto;
  text-align: right;
}
.row-plus {
  margin: 0px auto 0px auto;
}
.column-minus {
  margin: 0px auto 0px 10px;
}
.column-count {
  margin: 10px auto 10px auto;
  text-align: right;
}
.column-plus {
  margin: 0px auto 0px auto;
}
.design-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(auto, var(--designGridHeight));
}
.design-grid-cell {
  border: 1px solid #5f6b82;
}
