//-----------------------------------------------------------------------------
// Global definitions
//-----------------------------------------------------------------------------

:root {
  --designGridColumnCount: 8;
  --designGridRowCount: 8;
  --designGridHeight: 40px;
  --recentColorCellHeight: 40px;
  --gridGap: 5px;
}

random(min, max)
  return floor( math(0, "random") * max + min )

html {
  font-family: 'Open Sans', Roboto, Verdana, sans-serif;
}

//-----------------------------------------------------------------------------
// Page Region Definitions
// 
// Each region cooresponds to a part of the CSS grid, which is used to
// to make the page responsive.
//-----------------------------------------------------------------------------

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.page-header {
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  margin: auto;
}

.menu {
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;
}

.design-grid-column-controls {
  grid-column: 2;
  grid-row: 4;
  grid-gap: 5px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.color-chooser {
  grid-column: 1;
  grid-row: 5;
  grid-gap: 5px;
  border-color: black;
  border-width: 1px;
  align-items: center;
  margin: auto 1px auto auto;
}

.design-grid {
  grid-column: 2;
  grid-row: 5;
  border-color: black;
  border-width: 1px;
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(var(--designGridRowCount), var(--designGridHeight));
  margin: auto;
}

.design-grid-row-controls {
  grid-column: 3;
  grid-row: 5;
  grid-gap: 5px;
  display: flex;
  align-items: center;
  width: 40%;
}

.page-footer{
  grid-column: 1 / 4;
  grid-row: 6;
  border-color: black;
  border-width: 1px;
  text-align: center;
}

//-----------------------------------------------------------------------------
// Individual Page Elements
//-----------------------------------------------------------------------------

// Menu Region Items
.menu-item {
  border-color: black;
  border-width: 1px;
  margin-right: 20px;
}

// Color Chooser Region Items

.color-chooser-header {
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

.color-selector-button {
  border-color: black;
  border-width: 1px;
  height: var(--recentColorCellHeight);
  width: 100%;
  background-color: blue;
  text-align: right;
}

.recent-color-wrapper {
  display: grid;
  grid-template-columns: repeat(5, var(--recentColorCellHeight));
  grid-template-rows: repeat(1, var(--recentColorCellHeight));
  grid-gap: var(--gridGap);
  margin: 5px 0px 0px 0px;
  justify-content: center;
}

for shade in (90 80 70 60 50)
  .recent-color-{shade} {
    grid-column-start: auto;
    grid-row-start: auto;
    background-color: hsl(0, 0%, shade + '%');
    border-color: black;
    border-width: 1px;
  }

// Design Grid Controls
.row-controls {
  margin-left: 1px;
  text-align: center;
}

.row-minus {
  margin: 0px auto 0px auto;
}

.row-count {
  margin: 5px auto 5px auto;
  text-align: right;
}

.row-plus {
  margin: 0px auto 0px auto;
}

.column-minus {
  margin: 0px auto 0px 10px;
}

.column-count {
  margin: 10px auto 10px auto;
  text-align: right;
}

.column-plus {
  margin: 0px auto 0px auto;
}

// Design Grid
.design-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--designGridColumnCount), var(--designGridHeight));
  grid-template-rows: repeat(auto, var(--designGridHeight));
}

.design-grid-cell {
  background-color: #DADCE0;
  border: 1px solid #5F6B82;
}

//-----------------------------------------------------------------------------
// Modal Dialog Elements
//-----------------------------------------------------------------------------

.dialog-body {
  background: lightyellow;
  border: 1px solid;
  border-color: black;
}

.dialog-titlebar {
  background: lightgreen;
  border: 1px solid;
  border-color: black;
}
