:root {
  --rowNum: 8;
  --colNum: 8;
  --gridHeight: 120px;
}
body {
  min-height: 100vh;
  font-family: Calibri;
  margin: 0;
  overflow-x: hidden;
}
.wrapper {
  display: grid;
  grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
  grid-template-columns: repeat(var(--colNum), auto);
}
.grid-item {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 5px;
}
@for $i from 0 to 100 {
  .grid-item:nth-child(#$i) {
    background-color: rgba(45,0,160,0);
  }
}
.controls {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(40,180,200,0.8);
  border: 2px solid #000;
  border-radius: 40px/40px;
}
.controls a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.controls a:hover {
  color: #000;
}
